<main class="container home">
  <div class="row home-header">
    <div class="col-md-1 mr-auto">
      <button id="new-project-button" class="btn btn-primary mr-auto">New</button>
      <div class="project-popover is-hidden">
        <div class="form-group">
          <input type="type" placeholder="Name this project" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-secondary">Cancel</button>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Projects</h3>
    </div>
    <div class="col-md-1 ml-auto">
      <button class="btn ml-auto">...</button>
    </div>
  </div>
  <div class="row home-projects">
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Dummy Project</h4>
        <p>WHat a wonderful project this will be!</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Wondeful Project</h4>
        <p>This will be a most wonderful project</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Yet another project</h4>
        <p>Busy, busy!</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Lucky fourth project</h4>
        <p>There has never been a lucker project than this one</p>
      </a>
    </div>
  </div>
</main>











